.map-fullpage {
  margin-left: 400px; /* espacio para el sidebar */
  padding: 24px;
  box-sizing: border-box;
  width: calc(100% - 0px);
  min-height: 100vh;

  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
    padding: 16px;
  }
}

body.dark-mode .map-fullpage {
  background: #121212;
  color: #e0e0e0;
}
